.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  height: 88px;
  background-color: var(--color-black-light);
}

.header-container-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-grey-light);
}
