.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px;
  background-color: var(--color-black-light);
}

.header-container-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: var(--color-grey-light);
}

@media (min-width: 1024px) {
  .header-container-title {
    font-size: 40px;
    line-height: 48px;
  }

  .header-container {
    padding: 12px 28px;
  }
}

@media (min-width: 1536px) {
  .header-container-title {
    font-size: 48px;
    line-height: 58px;
  }

  .header-container {
    padding: 12px 48px;
  }
}
