.navbar-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-size: 24px;
  color: var(--color-grey-light);
}

.navbar-link-inactive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Centrado si usás 50% de ancho */
  width: 0;
  height: 0;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

.navbar-link-inactive:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%; /* Centrado si usás 50% de ancho */
  width: 30%;
  height: 2px;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

.navbar-link-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  transition: width 0.3s ease;
  background-color: var(--color-grey-light);
}
