.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-menu .navbar-link {
  padding: 0 16px;
  font-size: 20px;
}

.navbar-link {
  position: relative;
  display: flex;
  gap: 4px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-size: 24px;
  color: var(--color-grey-light);
}

.navbar-link-inactive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Centrado si usás 50% de ancho */
  width: 0;
  height: 0;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

.navbar-link-inactive:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%; /* Centrado si usás 50% de ancho */
  width: 30%;
  height: 2px;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

.navbar-link-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  transition: width 0.3s ease;
  background-color: var(--color-grey-light);
}

@media (min-width: 1024px) {
  .navbar-container {
    flex-direction: row;
    align-items: center;
    border-right: 1px solid var(--color-grey-light);
    border-left: 1px solid var(--color-grey-light);
  }

  .navbar-container > *:not(:last-child) {
    border-right: 1px solid var(--color-grey-light);
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: var(--color-black-light);
    border: 1px solid var(--color-grey-light);
    padding: 8px;
  }

  .dropdown-menu .navbar-link {
    padding: 0;
    font-size: 16px;
  }

  .navbar-link,
  .dropdown-toggle {
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  .navbar-link,
  .dropdown-toggle {
    font-size: 20px;
  }

  .dropdown-menu {
    min-width: 224px;
  }

  .dropdown-menu .navbar-link {
    font-size: 20px;
  }
}
