.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  border-right: 1px solid var(--color-grey-light);
  border-left: 1px solid var(--color-grey-light);
}

.navbar-container-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-size: 16px;
  color: var(--color-grey-light);
  border-right: 1px solid var(--color-grey-light);
}

.navbar-container .navbar-container-link:last-child {
  border-right: none;
}

.navbar-container-link-inactive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Centrado si usás 50% de ancho */
  width: 0;
  height: 0;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

.navbar-container-link-inactive:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%; /* Centrado si usás 50% de ancho */
  width: 30%;
  height: 2px;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

.navbar-container-link-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: var(--color-grey-light);
  transition: width 0.3s ease;
}

@media (min-width: 1536px) {
  .navbar-container-link {
    font-size: 20px;
  }
}
