.pagination {
  display: flex;
  align-items: center;
}

.pagination-nav {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px #00000040;
  border-radius: 12px;
}

.pagination-nav .pagination-nav-link:first-child {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.pagination-nav .pagination-nav-link:last-child {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.pagination-nav-link {
  font-weight: 600;
  padding: 4px 12px;
  background-color: var(--color-white);
}

.pagination-nav-link:hover {
  color: var(--color-grey-light);
  background-color: var(--color-black-light);
}

.pagination-nav-link-active {
  color: var(--color-grey-light);
  background-color: var(--color-black-light);
}
