.search-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 2px #00000040;
  background-color: var(--color-white);
}

.search-content-results {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.qualification-content {
  display: flex;
  flex-wrap: column;
  gap: 24px;
  width: 100%;
}

.user-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding: 16px;
  border: 1px solid #00000040;
}
